body{
    background-color: black;
    
    
}
.body::-webkit-scrollbar {
    display: none;
  }
html{
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
}
.scroll-down{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    position: fixed;
    margin-top: auto;
    top: 94vh;
    left: 2vh;
}
.scroll-down img{
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%
    {
        transform: translateY(-30px);
        text-shadow: 0 50px 0 #FDFBF9;
    }
}
.scroll-down img{
    animation-timing-function: ease-in-out;
}
.scroll-down-p{
    position: fixed;
    top: 96vh;
    font-family: 'helvetica',sans-serif;
    color: white;
    left: 7vh;
}

.menu-btn{
    position: fixed;
    left: 175vh;
    top: 48vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid white;
    background: white;
    border-radius: 50%;
    z-index: 2;
}

.menu-btn_burger{
    width: 25px;
    height: 3px;
    background: black;
    padding: 0px;
    border-radius: 7px;
    transition: all .3s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: black;
    border-radius: 7px;
    transition: all .3s ease-in-out;
}
.menu-btn_burger::before{
    transform: translateY(-10px);
}
.menu-btn_burger::after{
    transform: translateY(10px);
}

.menu-btn.open .menu-btn_burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.menu-btn:hover{
    padding: 13px;
    transition: all .1s ease-in-out;
}


.dropdown{
    position: relative;
}

.dropdown-menu{
    position: fixed;
    font-family: 'helvetica',sans-serif;
    color: white;
    background-color: #1f2123;
    padding: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 500px;
    padding-left: 100px;
    right: 10px;
    top: 190px;
    opacity: 0;
    border-radius: 30px;
    pointer-events: none;
    line-height: 2;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 1;

}

.dropdown-menu b{
    font-size: 20px;
    position: relative;
    right: 90px;
    line-height: 3.5;
    opacity: .4;
    padding: 20px;
}
.dropdown-menu a{
    text-decoration: none;
    color: white;
    position: relative;
    opacity: .7;
    right: 100px;
    padding: 20PX;
    line-height: 3.5;

    font-size: 20px;
}
.dropdown-menu li{
    list-style-type: none;
    font-size: 20px;
    position: relative;
    bottom: 10px;
    transition: visibility 0s .5s;
}

.dropdown.active > .menu-btn + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
#intro-holder{
    color: white;
    font-size: 220px;
    font-family: 'Headingnow', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    letter-spacing: .01em;
    position: fixed;
    bottom: 260px;
    left: 130vh;
    white-space: nowrap;

}
body{
    overflow-x: hidden;
}
#intro-holder2{
    color: white;
    font-family: 'Headingnow', sans-serif;
    font-size: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    letter-spacing: .01em;
    position: fixed;
    top: 200px;
    right: 130vh;
    white-space: nowrap;

}

@font-face {
    font-family: "Headingnow";
    src: url(fonts/HeadingNow-44Regular.otf);
}

@font-face {
    font-family: "helvetica";
    src: url(fonts/HelveticaNeueCyr-Roman.otf);
}


.intro h1 {
    background: -webkit-linear-gradient(90deg,#b871ce,  #2779a7, #49c5b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.dropdown-menu a:hover{
    background: -webkit-linear-gradient(90deg,#1f2123,  #2779a7, #49c5b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

  }
  .dropdown-menu a{
    transition: 1s;
  }
  section{
    width: 5000px;
  }

.logo{
    font-size: 50px;
    font-family:'Headingnow', sans-serif;
    color: white;
    position: absolute;
    left: 170px;
    top: 30px;
}

.logo h2{
    position: absolute;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .1px;
    color: transparent;
    left: 190px;
    font-size: 50px;
    bottom: 40px;

}

.mid-part{
    font-size: 50px;
    position: relative;
    left: 10px;
    top: 300px;
    width: 1300px;
    opacity: 0;
    margin-left: 100px;
    height: 500px;
    font-family: 'helvetica',sans-serif;
    background: linear-gradient(to right,#000 0,transparent .1%),radial-gradient(circle at 0 0,var(--colorful-color-1,#ababeb) 0,var(--colorful-color-2,#99ffd4) 33%,transparent 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    color: transparent;
    text-shadow: 0 0 transparent;
}


section{
    height: 2000px;
}

.mid-part2{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    left: 50px;
}

.left-mid{
    font-family: 'helvetica',sans-serif;
    font-size: 40px;
    position: relative;
    line-height: 1.5;
    opacity: .9;
    top: 220px;
}

.right-mid{
    font-family: 'helvetica',sans-serif;
    font-size: 25px;
    opacity: .7;
    height: 700px;
    width: 700px;
    position: relative;
    left: 20px;
    top: 230px;
}


.elon-right{
    position: relative;
    left: 1000px;
    bottom: 250px;
    color: white;
    font-family: 'helvetica',sans-serif;

}
.elon-right h1{
    left: 1100px;
    font-size: 40px;
    opacity: .9;
}
.elon-right p{
    font-size: 25px;
    width: 750px;
    position: relative;
    line-height: 1.5;
    right: 30px;
    opacity: .7;
    text-align: center;
}
.intro-year{
    color: white;
    font-family: 'Headingnow',sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    position: fixed;
    top: 400px;
    left: 880px;
}
.services{
    position: absolute;
    top: 4000px;
    width: 1000px;
    font-size: 50px;
    left: 150px;
    color: white;
    font-family: 'helvetica',sans-serif;
    background: linear-gradient(to right,#000 0,transparent .1%),radial-gradient(circle at 0 0,var(--colorful-color-1,#ababeb) 0,var(--colorful-color-2,#99ffd4) 33%,transparent 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    color: transparent;
    text-shadow: 0 0 transparent;
}
.services-list{
    color: white;
    font-family: 'Headingnow',sans-serif;
    font-size: 40px;
    position: relative;
    opacity: .8;
    top: 450px;
    left: 230px;

}

.services-list a{
    text-decoration: none;
    color: white;

}
.services-list a:hover{
    background: -webkit-linear-gradient(90deg,#1f2123,  #2779a7, #49c5b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

  }

.img-left{
    position: relative;
    top: 170px;
    left: 220px;

  }

  .service-right{
    font-family: 'helvetica',sans-serif;
    font-size: 25px;
    opacity: .7;
    height: 750px;
    width: 750px;
    position: relative;
    left: 1000px;
    line-height: 3;
    bottom: 20px;
    color: white;
  }

.end-part{
    color: white;
    font-family: 'helvetica',sans-serif;
    font-size: 50px;
    text-align: center;
    position: relative;
    left: 245px;
    line-height: 1.4;
    width: 1400px;
    height: 500px;
    bottom: 130px;
    opacity: 0.7;
}
.right1{
    position: relative;
    bottom: 25px;
}
.right4{
    position: relative;
    top: 45px;
}
.right3{
    position: relative;
    top: 20px;

}