<!DOCTYPE html>
<html>
    <head>
        <title>chatbot</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/chatbot.css">

    </head>
    <body>
        <div class="chat-area">
            <h1>AI SMARTBOT</h1>
            <p>Here to diagnose your symptoms</p>

        </div>
        <div class="ques">
            <h1>Come on, Lets Chat!</h1>
        </div>
        <div class="text-area">
            <p>{{data}}</p>
        </div>
        <div class="input">
            <form action="{{ url_for("gfg")}}" method="post">
            <input
            type="text" id="userbox" name="chattext"
            placeholder="Type Your Question..."></form>
        </div>
    </body>
</html>